<%- include("partials/header") %>

<h1>You fell in love with: <%= thingVar.toUpperCase()  %></h1>

<% if(thingVar.toLowerCase() === "board"){ %>
    <p>Good Choice</p>
<% } else { %>
    <p>Should have said /board</p>
<% } %>

<p>P.S. this is the love.ejs file!</p>
<%- include("partials/footer") %>